body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  max-width: 500px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

.quote {
  font-style: italic;
  margin-top: 10px;
}

.end {
  margin-top: 20px;
  font-weight: bold;
}
.img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}
